.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}


#page{
    background-color: #b0b5c7;
}
.entry-content{
    background-color:#d3d3d3;
    box-shadow: 5px 10px #888888;
}

.wp-block-column{
    width: 25%;
}

a{
    font-family: Helvetica;
    text-decoration: none;
    color:black;
}

